@model FundRaising.Core.Models.Project

@{
    ViewData["Title"] = "Product";
}


<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">@Html.DisplayFor(model => model.Title)</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="productbox">
                    <img src="images/product2-2.jpg" alt="">
                    <div class="clearfix">
                    </div>
                    <br />
                    <div class="product-details text-left">
                        <img src="~/images/donation.png">
                        <p>
                            @Html.DisplayFor(model => model.Description);
                        </p>
                        <a asp-area="" asp-controller="Rewards" asp-action="Create">Create Reward</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a asp-action="ShowProjectRewards" asp-route-id="@Model.ProjectId" class="btn btn-buynow"  >See available Rewards</a>
                <div class="properties-box">
                    <ul class="unstyle">
                        <li><b class="propertyname">Title:</b> @Model.Title</li>
                        <li><b class="propertyname">Category:</b> @Model.ProjectCategory</li>
                        <li><b class="propertyname">Creation Date:</b> @Model.Created</li>
                        <li><b class="propertyname">Deadline:</b> @Model.Deadline</li>
                        <li><b class="propertyname">Target Fund:</b> @Model.TargetFund</li>
                        <li><b class="propertyname">Current Fund:</b> @Model.CurrentFund</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


